table {
  border-collapse: separate;
  border-spacing: 0;
}

td {
  border: solid 1px;
  border-style: none none solid none;
}

td:first-child {
  border-left-style: solid;
}

td:last-child {
  border-right-style: solid;
}

tr:first-child th:first-child {
  border-top-left-radius: 0.75rem;
}

tr:first-child th:last-child {
  border-top-right-radius: 0.75rem;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 0.75rem;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 0.75rem;
}