@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* COLORS */

:root {
  --infn-color-primary: #002a48;
  --infn-color-primary-50: #002a4880;
  --infn-color-primary-hover: #20385a;
  --infn-color-primary-light: #4196b4;
  --infn-color-primary-light-hover: #347890;

  --infn-color-secondary: #fefefe;
  --infn-color-secondary-50: #fefefe80;
  --infn-color-secondary-hover: #fefefedd;

  --infn-color-success: #3da657;
  --infn-color-success-50: #35de2380;
  /* this is random... */
  --infn-color-success-hover: #3da657;

  --infn-color-danger: #de2335;
  --infn-color-danger-50: #de233580;
  --infn-color-danger-hover: #ed2639;

  --infn-color-warning: #ffc107;
  --infn-color-warning-50: #ffc10780;
  --infn-color-warning-hover: #ffc822;

  --infn-border-radius: 5px;
  --infn-border-radius-half: 2.5px;

  --infn-box-shadow: -3px 3px 8px #00000020;
  --infn-box-shadow-light: -3px 3px 8px -3px #00000020;
}
